.App {
  /* text-align: right; */
  justify-items: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  /* grid-template-columns: repeat(12, 1fr); */
  grid-template-rows: repeat (5, auto);
  /* margin-left: 300px;
  margin-right: 300px; */
  /* grid-column-gap: 1px; */
}

/* .container{
  padding: 0;
  margin: 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 900px 1fr;
  grid-column-gap: 10px;
} */
img {
  grid-column: 5/6;
  margin-right: 60px;
}

#nav {
  grid-column: 6/7;
  text-align: justify;
  word-spacing: 5px;
}


.route {
  grid-row: 2/3;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
